:root {
    --color-background: black;
    --color-text: white;
    --color-tittle: red;
}

body {
    margin: 50px;
    text-align: center;
    background-color: var(--color-background);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text);
}

h1 {
    color: var(--color-tittle);
}

p {
    font-size: 19px;
}

h3 {
    color: red;
}

.accordion {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid red;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.accordion h1 {
    cursor: pointer;
    background-color: black;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.accordion .content {
    display: none;
    padding: 10px;
    margin: 0;
}

.accordion .content.active {
    display: block;
}